@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Open Sans", sans-serif;
}
/* nav-bar-title style starts here */
.secondary-bg{
    background-color:rgb(255, 248, 243) ;
}
header{
    margin-top: 30px;
    background-image: url(/images/developer.png), url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, right bottom;
    /* background: rgb(255, 248, 243); */
}
nav{
    
    display: flex;
    width: 85%;
    margin: 0px auto;
    /* border: 2px solid red; */
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
    text-align: left;
}
.nav-title span{
   color: rgb(253, 110, 10)
}
nav > ul {
    display: flex;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}
nav > ul > li {
    list-style: none;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav > ul > li > a{
    color: rgb(71, 71, 71);
    text-decoration: none;
}
.btn-primary{
    color: rgb(255, 255, 255);
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: rgb(253, 110, 10);
    border: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.header-part{
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    
}
.section-image{
    right: 0;
    bottom: 0;
}

.section-description{
    margin: 0 35px 0 152px;
}
.section-subtitle{
    color: rgb(71, 71, 71);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}
.section-title{
    color: rgb(24, 24, 24);
    font-size: 85px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
}
.section-text{
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.section-image img{
    right: 0px;
    bottom: 0px;
    top: 0px;
}
.btn-contact{
    background: rgb(255, 255, 255);
    width: 160px;
    height: 64px;
    border-radius: 5px;
    color: rgb(253, 110, 10);
    border: 2px solid rgb(253, 110, 10) ;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

/* About-me section starts here */
.about-me-container{
    max-width: 1140px;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 140px auto;
    border-radius: 5px;
}
.about-me-section > h3, .what-i-do-title, .resume-title{
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.about-me-section > p, .what-i-do-description {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    /* border: 2px solid red; */
    width: 100%;
}
.about-section-item{
    display: flex;
}
.about-me-content{
    padding: 30px;
}
.about-me-content .about-title,.about-description{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
.about-title{
    color: rgb(117, 117, 117);
    font-weight: 400;
}
.about-description{
    color: rgb(71, 71, 71);
    font-weight: 700;
}


/* What-I-do-section starts here */
.what-i-do-section{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin-bottom: 170px;
}

.what-i-do-description{
   width: 80%;

}

.what-i-do-skill{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-item{
    /* border: 2px solid red; */
    margin-top: 50px;
    margin-left: 24px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    

}
.skill-item h4{
    color: rgb(24, 24, 24);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
}
.skill-item p{
    background: rgb(255, 255, 255);
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* Resume section here */
.resume-section{
    max-width: 1140px;
    padding-left: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column;  */
}
.resume-education > h3, .resume-experience > h3{
    color: rgb(71, 71, 71);
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
}
.resume-section h5{
    color: rgb(71, 71, 71);
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    margin: 35px 0 15px 0;
}
.resume-section h6{
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    margin: 10px 0;
}
.resume-section p{
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 85%;
    margin-top: 25px;
}
hr{
    margin-right: 50px;
    margin-top: 25px;
}
.cv-button{
    margin: 50px 0px 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    padding: 130px 325px;
    gap: 90px;
}
.section-box-title{
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
}
.footer-column{
    width: 50%;
}

footer input[type="text"], input[type="email"], textarea{
    width: 461px;
    height: 64px;
    margin-top:24px ;
    border-radius: 5px;
    border: none;
}
.box{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 20px;
}
textarea{
    width: 461px;
    height: 180px;
    margin-bottom: 24px;
}
.section-box-discription{
    color: rgb(71, 71, 71);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

}

.picture{
    width: 30px;
    height: 20px;
}